[user]
	name = maro114510
	email = atumaro114510@icloud.com
	signingkey = 3BB15DF7C82C62A5
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	template = /Users/nohira/ghq/gist.github.com/b679da26e7c683179714671e576bb482/.commit_template

[core]
	pager = delta
	excludesfile = /Users/nohira/.gitignore_global
	editor = nvim

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	side-by-side = true
	syntax-theme = Monokai Extended
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

[maintenance]
	repo = /Users/nohira/ghq/github.com/maro114510/flutter_sandbox
[column]
	ui = auto
